/*Specify the display of the header/footer.*/
.bun{
    display:block;
}

/*Make the header/footer text centered*/
.bun .text{
    text-align:center;
}

/*Display code if I want containers to be side by side*/
.flex-container{
    display:flex;
}
.flex-child{
    flex:1;
}

/*Display code for grid containers*/
.grid-container{
    display: grid;
}

/*Adjust the game images' sizes and move them to the center of the container*/
.gameImages{
    width: 60%;
    height: 90%;
    margin-left:auto;
    margin-right:auto;
}
.playerScore{
    margin-left:auto;
    margin-right:auto;
}

/*Temp highlights of the elements*/
#gameBoard{
    border-style: solid;
    border-color: red;
    max-height:70%;
    margin-left:5%;
    margin-right:5%;
}

/*Drop down menu display*/
#dropDown{
    border-style: solid;
    border-color: green;
    max-width: 30%;
    max-height: 70%;
    display:none;
}
#dropDownContent{
    padding: 10%;
}

/*Display for the button in the center*/
.centerButton{
    max-width:9%;
    max-height:70%;
    margin-top: 67%;
    text-align:center;
}

/*Small adjustments in the text above the rock paper scissors selections*/
.playerStatus{
    text-align: center;
}
.playerBox{
    margin: 3%;
}

